.statList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid silver;
}
.statItem {
  color: rgb(15, 56, 56);
  font-style: oblique;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}
